section {
  text-align: center;
  min-height: 50vh;
}
#herobanner {
  height: 100vh;
  width: 100%;
  background: #303c4a;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    font-weight: 200;
    font-size: 3rem;
    max-width: 50%;
    span {
      color: #00c07f;
    }
  }
}
