<nav>
  <section id="profile">
    <div mat-card-avatar class="avatar"></div>
    <h4>Richard Price</h4>
  </section>
  <ul>
    <li><a routerLinkActive="active" routerLink="">Home</a></li>
    <li><a routerLinkActive="active" routerLink="about-me">About Me</a></li>
    <li><a routerLinkActive="active" routerLink="portfolio">Portfolio</a></li>
    <li><a routerLinkActive="active" routerLink="blog">Blog</a></li>
    <li><a routerLinkActive="active" routerLink="contact">Contact</a></li>
  </ul>
</nav>
