<h1 mat-dialog-title>Create a new blog entry</h1>
<div mat-dialog-content>
  <form
    id="blog-create-form"
    [formGroup]="createBlogForm"
    (ngSubmit)="createNewBlog()"
  >
    <mat-form-field class="full-width">
      <mat-label>Title</mat-label>
      <input
        matInput
        placeholder="My super cool blog title"
        name="title"
        formControlName="title"
        required
      />
      <mat-error *ngIf="title.errors?.required">Title is required.</mat-error>
      <mat-error *ngIf="title.errors?.minlength"
        >Name must be at least 3 characters long.</mat-error
      >
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button color="error" type="button" (click)="onNoClick()">
    Cancel
  </button>
  <button
    mat-raised-button
    type="submit"
    color="primary"
    (click)="createNewBlog()"
  >
    Create
  </button>
</div>
