<h1 mat-dialog-title>Create a new blog entry</h1>
<div mat-dialog-content>
  <form
    class="blog-create-form"
    [formGroup]="createBlogForm"
    (ngSubmit)="createNewBlog()"
  >
    <mat-form-field class="full-width">
      <mat-label>Title</mat-label>
      <input
        matInput
        placeholder="My super cool blog title"
        name="title"
        formControlName="title"
        required
      />
      <!-- <mat-error *ngIf="title.invalid">{{ getErrorMessage() }}</mat-error> -->
    </mat-form-field>

    <!-- <mat-form-field class="example-full-width">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field> -->
  </form>
  Form Status: {{ createBlogForm.status | json }}
</div>
<div mat-dialog-actions>
  <button mat-button color="error" (click)="onNoClick()">Cancel</button>
  <button
    mat-raised-button
    type="submit"
    color="primary"
    (click)="createNewBlog()"
  >
    Create
  </button>
</div>
